@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
*{
   box-sizing: border-box;
}

 body { 
    background-color:#4a0d42;

    font-family: 'Josefin-Sans', sans-serif;

    min-height: 100vh;
}

.container{
    background-color: #fff;
        width:500px;
        max-width: 100%;
        margin: 0 auto;
}

header{
      
}



.btn-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
         
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

