@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
*{
   box-sizing: border-box;
}

 body { 
    background-color:#4a0d42;

    font-family: 'Josefin-Sans', sans-serif;

    min-height: 100vh;
}

.container{
    background-color: #fff;
        margin: 0 auto;
        width:500px;
        max-width: 100%;
       
}

header{
     border: 3px solid #000;
     border-radius: 20px;
     display: flex;
     justify-content: space-between;
     padding: 25px;

      
}

 h1{
    font-size: 3rem;
    margin: 0;
    display: flex;
    line-height: 0.9;
    flex-direction: column;
    text-transform: uppercase;
 }

 h4{
     color: #000;
 }

  .score-container{
                   background-color:#fff;
 }


.btn-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
         
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

