@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}

 body{
            font-family: Roboto, sans-serif;
            background-image: url("../images/Game-room.jpg");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
          
 }

 
 .header{
         font-weight: 400;
         font-size: 3.4em;
         text-align: center;
         text-transform: uppercase;
         letter-spacing: 1px;
         background-color: #000;
         color: #fff;
         text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #0ff,
                0 0 80px #0ff,
                0 0 90px #0ff,
                0 0 100px #0ff,
                0 0 150px #0ff;
                
                         
 }

 /* Animation */

 .header span {
     animation: flicker 500ms linear;
         
} 
 .header .delay1{
              animation-delay: 0.8s;
 }
 
 .header .delay2{
               animation-delay: 1.4s;
 }
 .header .delay3{
               animation-delay:1.8s;
 }

  @keyframes flicker {
     0% {opacity: 0;}
     10% {opacity: 1;}
     20% {opacity: 0;}
     40% {opacity: 1;}
     50% {opacity: 0;}
     60% {opacity: 1;}
     80% {opacity: 0;}
     100% {opacity: 1;}
}

.parent {
     position: relative;
     height: 100px;
 }
 
 .rules-image {
     background-color: #000;
     opacity: 0.9;
     height: 75vh;
     width: 50vw;
     position: absolute;
     top: 10vh;
     bottom: 10px;
     transform: translateX(50%);
     
     
 }

 .container{
     display: flex;
  justify-content: center;
  align-items: flex-end; 
  height: 95vh; 
  font-size: 100px;
  
}

 .button{
         font-family: Roboto,sans-serif;
         text-align: center;
         width: 250px;
         padding: 40px;
         font-size: 30px;
         color: #cb2dbe;
         border: 5px solid #cb2dbe;
         letter-spacing: 12px;
         cursor: pointer;
         border-radius: 100px;
         transition: 1.5s;


 }
 .button:hover
 {
     box-shadow: 0 5px 50px 0 #cb2dbe inset, 0 5px 50px 0 #cb2dbe,
                 0 5px 50px 0 #cb2dbe inset, 0 5px 50px 0 #cb2dbe;
          
 }
 

 
